/** We would otherwise be importing @radix-ui/colors here,
 * directly, but because they have that dumb class
 * requirement to apply dark mode, I'm copying the values
 * from the installed module for each mode */

/* Assume light mode by default */
@import "./colors-light.css" screen;
/* Supersede dark mode when applicable */
@import "./colors-dark.css" screen and (prefers-color-scheme: dark);

:root {
  --color-gray-1: var(--mauve-1);
  --color-gray-2: var(--mauve-2);
  --color-gray-3: var(--mauve-3);
  --color-gray-4: var(--mauve-4);
  --color-gray-5: var(--mauve-5);
  --color-gray-6: var(--mauve-6);
  --color-gray-7: var(--mauve-7);
  --color-gray-8: var(--mauve-8);
  --color-gray-9: var(--mauve-9);
  --color-gray-10: var(--mauve-10);
  --color-gray-11: var(--mauve-11);
  --color-gray-12: var(--mauve-12);

  --color-accent-1: var(--violet-1);
  --color-accent-2: var(--violet-2);
  --color-accent-3: var(--violet-3);
  --color-accent-4: var(--violet-4);
  --color-accent-5: var(--violet-5);
  --color-accent-6: var(--violet-6);
  --color-accent-7: var(--violet-7);
  --color-accent-8: var(--violet-8);
  --color-accent-9: var(--violet-9);
  --color-accent-10: var(--violet-10);
  --color-accent-11: var(--violet-11);
  --color-accent-12: var(--violet-12);

  --color-gray-a1: oklch(from var(--color-gray-2) l c h / 0.9);
  --color-gray-a2: oklch(from var(--color-gray-11) l c h / 0.2);
  /* --color-gray-a2: oklch(from var(--color-gray-2) l c h / 0.7); */
  --color-gray-a3: oklch(from var(--color-gray-2) l c h / 0.5);
  --color-gray-a4: oklch(from var(--color-gray-2) l c h / 0.2);

  --color-accent-a1: oklch(from var(--color-accent-9) l c h / 0.8);
  --color-accent-a2: oklch(from var(--color-accent-9) l c h / 0.6);
  --color-accent-a3: oklch(from var(--color-accent-9) l c h / 0.4);
  --color-accent-a4: oklch(from var(--color-accent-9) l c h / 0.2);

  --color-surface: var(--color-gray-a1);

  --color-text: var(--color-gray-12);
  --color-text-muted: var(--color-gray-10);
}
