/** We would otherwise be importing @radix-ui/colors here,
 * directly, but because they have that dumb class
 * requirement to apply dark mode, I'm copying the values
 * from the installed module for each mode */

/* Assume light mode by default */
@import "./colors-light.css" screen;
/* Supersede dark mode when applicable */
@import "./colors-dark.css" screen and (prefers-color-scheme: dark);

:root {
  --color-gray-1: var(--mauve-1);
  --color-gray-2: var(--mauve-2);
  --color-gray-3: var(--mauve-3);
  --color-gray-4: var(--mauve-4);
  --color-gray-5: var(--mauve-5);
  --color-gray-6: var(--mauve-6);
  --color-gray-7: var(--mauve-7);
  --color-gray-8: var(--mauve-8);
  --color-gray-9: var(--mauve-9);
  --color-gray-10: var(--mauve-10);
  --color-gray-11: var(--mauve-11);
  --color-gray-12: var(--mauve-12);

  --color-accent-1: var(--violet-1);
  --color-accent-2: var(--violet-2);
  --color-accent-3: var(--violet-3);
  --color-accent-4: var(--violet-4);
  --color-accent-5: var(--violet-5);
  --color-accent-6: var(--violet-6);
  --color-accent-7: var(--violet-7);
  --color-accent-8: var(--violet-8);
  --color-accent-9: var(--violet-9);
  --color-accent-10: var(--violet-10);
  --color-accent-11: var(--violet-11);
  --color-accent-12: var(--violet-12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);

  --color-gray-a1: oklch(from var(--color-gray-2) l c h / 0.9);
  --color-gray-a2: oklch(from var(--color-gray-11) l c h / 0.15);
  --color-gray-a3: oklch(from var(--color-gray-2) l c h / 0.5);
  --color-gray-a4: oklch(from var(--color-gray-2) l c h / 0.2);

  --color-accent-a1: oklch(from var(--color-accent-9) l c h / 0.8);
  --color-accent-a2: oklch(from var(--color-accent-9) l c h / 0.6);
  --color-accent-a3: oklch(from var(--color-accent-9) l c h / 0.4);
  --color-accent-a4: oklch(from var(--color-accent-9) l c h / 0.2);

  --color-accent-gradient: linear-gradient(
    var(--color-accent-9),
    var(--color-accent-7)
  );
  --color-accent-gradient-reversed: linear-gradient(
    var(--color-accent-10),
    var(--color-accent-11)
  );

  --color-red-a1: oklch(from var(--color-red-2) l c h / 0.9);
  --color-red-a2: oklch(from var(--color-red-11) l c h / 0.15);
  --color-red-a3: oklch(from var(--color-red-2) l c h / 0.5);
  --color-red-a4: oklch(from var(--color-red-2) l c h / 0.2);

  --color-surface: var(--color-gray-a1);
  --color-surface-2: var(--color-gray-a2);
  --color-surface-3: var(--color-gray-a4);

  --color-text: var(--color-gray-12);
  --color-text-muted: var(--color-gray-10);
}
