@import "./colors.css";
@import "./variables.css";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-gray-1);
  color: var(--color-gray-12);
  position: relative;
}

#root {
  isolation: isolate;
}
