@import "./reset.css";
@import "./colors.css";
@import "./variables.css";

:root {
  color-scheme: light dark;
  /* Enable keyword sizing animations globally */
  interpolate-size: allow-keywords;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-gray-1);
  color: var(--color-gray-12);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  isolation: isolate;
}

a {
  color: var(--color-accent-10);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  line-height: 1.3;
}
