@import "./colors.css";
@import "./variables.css";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-gray-1);
  color: var(--color-gray-12);
  position: relative;
  /* overflow: hidden; */
}

#root {
  isolation: isolate;
}

a {
  color: var(--color-accent-10);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
