.dashboard {
  padding: var(--space-5);
  /* display: grid;
  grid-template-columns: repeat(5, [col-start] fit-content(220px)); */
  /* grid-template-rows: repeat(5, fit-content(220px)); */
  /* gap: var(--space-5); */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #888;
}

.section {
  overflow: hidden;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);

  .card {
    max-width: 220px;
  }
}

.sectionHeader {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.sectionTitle {
  margin: 0;
  font-weight: 500;
}

.seeAll {
  font-size: var(--font-size-3);
  color: var(--color-accent-11);
  text-decoration: none;
}

.seeAll:hover {
  text-decoration: underline;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
} */

.emptyHint {
  margin: 0;
  color: var(--color-gray-10);
  font-size: var(--font-size-4);
}

.emptyLink {
  /* color: #6c63ff; */
  text-decoration: none;
}

.emptyLink:hover {
  text-decoration: underline;
}
