.breadcrumb {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  /* font-size: 0.8rem; */
  /* color: #666; */
  /* margin-bottom: 24px; */
}

.breadcrumbLink {
  color: currentColor;
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

.breadcrumbSep {
  color: var(--color-text);
}

.breadcrumbCurrent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
