:root {
  --surface-backdrop-filters: blur(16px) saturate(150%);
}

.surface {
  background: var(--color-surface);
  backdrop-filter: var(--surface-backdrop-filters);
  corner-shape: var(--corner-shape);

  .surface {
    background: var(--color-surface-2);
    border-radius: var(--border-radius-5);

    .surface {
      background: var(--color-surface-3);
    }
  }

  &.transparent {
    background: transparent;
  }

  &.small {
    border-radius: var(--border-radius-4);
  }

  &.medium {
    border-radius: var(--border-radius-5);
  }

  &.large {
    border-radius: var(--border-radius-6);
  }

  button.surface {
    /* Removed for manage libraries more button */
    /* backdrop-filter: none; */
  }
}
