.badge {
  display: inline-block;
  padding: var(--space-2) var(--space-3);
  background: var(--color-accent-a2);
  border-radius: var(--border-radius-3);
  corner-shape: var(--corner-shape);
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--color-accent-12);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.primary {
    background: var(--color-accent-5);
  }
}
