.backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(3px);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-gray-3);
  padding: var(--space-md) var(--space-lg) var(--space-lg);
  border-radius: var(--border-radius-5);
  corner-shape: var(--corner-shape);
  box-shadow: 0 0 18px rgb(0 0 0 / 40%);

  p {
    max-width: 32em;
  }
}

.title {
  font-size: var(--text-md);
  font-weight: 500;
  width: stretch;
  text-align: center;
}

.header {
  margin-block-end: var(--space-md);
  > * {
    flex: 1;
  }
}

.headerActions {
  margin-inline-start: auto;
  white-space: nowrap;
}
