.backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(3px);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-gray-3);
  padding: var(--space-md) var(--space-lg) var(--space-lg);
  border-radius: var(--border-radius-5);
  corner-shape: var(--corner-shape);
  box-shadow: 0 0 18px rgb(0 0 0 / 40%);
}

.title {
  font-size: var(--text-md);
  font-weight: 500;
}

.close {
  /* border-radius: 1000px;
  corner-shape: round;
  display: flex;
  padding: var(--space-xs);
  margin: 0 0 0 -0.5rem;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 0.9;
  color: var(--color-gray-11); */
}

.header {
  margin-block-end: var(--space-md);
}
