.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3);
  cursor: pointer;
}

.checkbox {
  --size: var(--space-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-1);
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  border: 1px solid var(--color-gray-7);

  &[data-unchecked] {
    background-color: transparent;
  }

  &[data-checked] {
    background-color: var(--color-accent-10);
    border-color: var(--color-accent-10);
    color: var(--color-gray-1);
  }
}
