.container {
  --padding: calc(var(--space-3) + var(--space-2));
  position: relative;
  display: flex;
  align-items: center;
}

.textbox {
  background: var(--color-gray-5);
  border: none;
  font: inherit;
  border-radius: var(--border-radius-3);
  corner-shape: var(--corner-shape);
  padding: var(--padding);
  color: currentColor;
  outline: none;

  &[type="search"] {
    corner-shape: round;
  }
}

.block {
  width: 100%;

  input {
    width: stretch;
  }
}

.icon {
  position: absolute;
  left: calc(var(--padding) / 2);
  pointer-events: none;
  color: var(--color-gray-10);
  height: 20px;

  &.focused {
    color: var(--color-gray-12);
  }
}

.start {
  input {
    padding-left: var(--space-6);
  }
}
