.row {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dlist {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  .row {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    align-items: center;
    justify-content: space-between;
  }
}

.metrics {
  > div {
    padding: var(--space-md);
    flex: 1;
  }
}

.charts {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  gap: var(--space-md);
}

.eyebrow {
  font-size: var(--text-sm);
  color: var(--color-text-muted);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.2;
}

.big {
  font-size: var(--text-2xl);
}

.chartTile {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  min-width: 0;
}

.low {
  color: var(--color-accent-11);
}

.medium {
  color: #d36c0c;
}

.high {
  color: #f71313;
}
